body{
	margin: 0;
}
.container1{
	display: flex;
	justify-content: flex-end;
}
.nav p{
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
.about{
	background-color: black;
	color: white;
	padding: 20px 0;
}
.container2{
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}
.container2 img{
	width: 300px;
	height: 200px;
}
.container3{
	margin: 30px 0;
	display: flex;
	justify-content: space-around;
}
.container3 img{
	width: 500px;
	height: 200px;
}
.container3 p{
	width: 600px;
	font-size: 15px;
	text-align: justify;
}